main-prod.spec
main-dev.spec
teste.spec
teste.py
dist/
build/
arquivos_teste/
env-python/
app/keys/
app/telas/
modificacoes.txt
como-startar.txt
__pycache__/
app/classes/__pycache__/
app/telas/__pycache__/
app\telas\tela_4_intermediaria_filial.py