main-prod.spec
main-dev.spec
teste.spec
como-startar.txt
teste.py
dist/
build/
arquivos_teste/
env-python/
app/keys/
app/telas/
__pycache__/
app/classes/__pycache__/
app/telas/__pycache__/
modificacoes.txt